<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bungy/style.css' %}">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div class="container table-bordered">
  <div class="row table-bordered">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

    <div class="row top-buffer table-bordered">
        <div class="col-sm-6">
            row 2
        </div>
        <div class="col">
            row 2
        </div>
        <div class="col">
            row 2
        </div>

        <div class="col">
            row 2
        </div>

        <div class="col">
            row 2
        </div>
    </div>


    <div class="row top-buffer4 table-bordered">
        <div class="col">
            Hej
        </div>
        <div class="col">
            Hej
        </div>
        <div class="col">
            Hej
        </div>
        <div class="col">
            Hej
        </div>
        <div class="col">
            Hej
        </div>
    </div>
</div>

</body>
</html>